/* Criei um conteiner padrão */
/* .container{
    background-color: black;
    align-items: center;
    width: 95vh;
    height: 100vh;
} */

.title1, .title, #nome{
    color:#FFB500 ;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 20mm;
}

/* Fiz algumas modificações apenas por conta que estava conflitando com as outras paginas */
.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30vh;
    width: 20vw;
    gap: 40px;
}

.formulario{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 700px;
    width: 100%;
}
.inputt{
    height: 4vh;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    background-color: #cdcdcd8c;
    color: #0e0e0e;
    font-size: 20px;
    letter-spacing: 5px;
}

.btn-cadastro{
    height: 4vh;
    width: 8vw;
    margin-right: 7%;
    display: inline;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    background-color: #e6e6e5;
    color: #000000;
    cursor: pointer;
    position: right;
    float: right;
}
