.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 96.89px);
}
.card{
    width: 50%;
    height: 100%;
    background-color: black;
}

.esquerda{
    display: flex;
    justify-content: left;
    padding-left: 15px;
}
.direita{
    display: flex;
    justify-content: right;
    padding-right: 15px;
}
.produto{
    font-size: 55px;
    color: #FFB500;
    width: max-content;
}

.body-detalhes{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body-detalhesD{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.body-detalhes-div1{
    width: 10%;
    height: 2px;
    margin: 5px;
    background-color: #FFB500;
}
.body-detalhes-div2{
    width: 15%;
    height: 2px;
    margin: 5px;
    background-color: #FFB500;
}
.body-detalhes-div3{
    width: 20%;
    height: 2px;
    margin: 5px;
    background-color: #FFB500;
}

.caixa{
    width: 25vw;
    height: 100%;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: black;
    background-color: #d7d7d799;
}