.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 10vh);
}
.card{
    width: 50%;
    height: 100%;
    background-color: black;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.card::-webkit-scrollbar{
    /* width: 12px; */
    display: none;
}
/*.card::-webkit-scrollbar-track {
	background: #FFB500; /* color of the tracking area 
	border-radius: 20px;
}*/
/*.card::-webkit-scrollbar-thumb {
	background-color: rgb(255, 0, 0); /* color of the scroll thumb 
	border-radius: 20px; /* roundness of the scroll thumb 
	border: 3px solid #FFB500; /* creates padding around scroll thumb 
}*/

.esquerda{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 15px;
}
.direita{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 15px;
}

.categoria-caixa{
    display: flex;
}
.categoria-titulo{
    font-size: 55px;
    color: #FFB500;
    width: max-content;
}

.body-detalhes{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body-detalhesD{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.body-detalhes-div1{
    width: 10%;
    height: 2px;
    margin: 5px;
    background-color: #FFB500;
}
.body-detalhes-div2{
    width: 15%;
    height: 2px;
    margin: 5px;
    background-color: #FFB500;
}
.body-detalhes-div3{
    width: 20%;
    height: 2px;
    margin: 5px;
    background-color: #FFB500;
}

.lista{
    display: flex;
    justify-content: flex-end;
}
.lista-produto{
    width: 70%;
}
.lista-produto-itens{
    display: flex;
    justify-content: flex-end;
}
.produto-preco-direita{
    font-size: 40px;
    color: rgb(255, 255, 255);
    width: 55%;
}
.produto-direita{
    font-size: 40px;
    color: rgb(255, 255, 255);
}
.produto{
    font-size: 40px;
    color: rgb(255, 255, 255);
    width: 55%;
}
.produto-preco{
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.meio-pratos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.pratos{
    font-size: 60px;
    color: #FFB500;
}


.caixa{
    width: 25vw;
    height: 100%;
    display: flex;
    align-items: center;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    background-color: #d7d7d799;
    border-radius: 0 5px 20px 0;
}
.page{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    width: 15vw;
    height: 7vh;
    font-size: 45px;
    border-bottom: 2px solid #FFB500;
    border-radius: 0 0 20px;
}
.page:hover{
    box-shadow:
        1px 1px #FFB500,
        2px 2px #FFB500,
        3px 3px #FFB500;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}


/* ----------------------Responsividade ------------------*/
@media (max-width:1440px) {
    .page{
        font-size: 30px;
    }
    .direita .categoria-caixa div .categoria-titulo{
        font-size: 30px;
    }
    .esquerda .categoria-caixa div .categoria-titulo{
        font-size: 30px;
    }
}
@media (max-width:1040px) {
    .page{
        font-size: 22px;
    }
}
@media(max-width:540px){
    div .card{
        width: 100vw;
    }

    div .card .esquerda{
        margin: 20px 0 20px 0;
    }
    div .card .direita{
        margin: 20px 0 20px 0;
    }
    div .container .caixa .links .page{
        font-size: 12px;
        text-align: center;
    }


    .direita .categoria-caixa div .categoria-titulo{
        font-size: 25px;
    }
    .esquerda .categoria-caixa div .categoria-titulo{
        font-size: 25px;
    }


    .lista-produto tbody td{
        font-size: 15px;
    }
    .lista-produto-itens td{
        font-size: 15px;
    }


    .body-detalhes-div1 {
        margin: 1px;
    }
    .body-detalhes-div2 {
        margin: 1px;
    }
    .body-detalhes-div3 {
        margin: 1px;
    }

    .body-detalhes-div1 {
        margin: 1px;
    }
    .body-detalhes-div2 {
        margin: 1px;
    }
    .body-detalhes-div3 {
        margin: 1px;
    }
}